<template name="blogShow">
  <article class="panel ">
    <section class="handheld-flush panel__item--left lap-and-up-five-twelfths background--fill floating  lap-and-up-ratio--none ratio--square overlay--brand" style="{{#if hero}}background-image:url({{hero}});{{/if}}">
      <div class="ratio__item floating__item overlay__item">
        <div class="text-left push lap-and-up-push-double" >


          <h1 class="text-white flush-bottom hard-bottom lap-and-up-push-bottom">
            {{title}}

          </h1>
          <p class="text-white">
            <small>
              <strong>By {{authorName}}</strong> on {{blogFormatDate publishedAt}}
            </small>



          </p>




        </div>
      </div>
      {{!--
      <div class="hero">
        <div class="text-right lap-and-up-soft-bottom">
          {{#if prevPost}}
            {{#with prevPost}}

              <a href="{{pathFor 'blogShow'}}" class="icon--white icon--large fa fa-angle-left {{#if nextPost}}push-right{{/if}}">
              </a>
            {{/with}}
          {{/if}}

          {{#if nextPost}}
            {{#with nextPost}}
              <a href="{{pathFor 'blogShow'}}" class="icon--white icon--large fa fa-angle-right">
              </a>
            {{/with}}
          {{/if}}

        </div>
      </div>
      --}}

      {{#if isAdmin}}

        <div class="hero">
          <div class="text-right lap-and-up-soft-half">

          <a href="#" id="edit-post" class="icon--white fa fa-edit flush"></a>
        </div>
      </div>

      {{/if}}

    </section>

    <section class="handheld-hard panel__item--right lap-and-up-seven-twelfths floating scrollable">

        <div class="floating__item">

            <div class="constrain-copy soft lap-and-up-soft-double text-left">
              {{{html}}}
              <div class="grid text-center push-bottom lap-and-up-push-double-ends">
                <div class="grid__item one-third text-center">
                  {{> facebook}}
                </div>
                <div class="grid__item one-third text-center">
                  {{> pinterest}}
                </div>
                <div class="grid__item one-third text-center">
                  {{> twitter}}
                </div>
              </div>
              <hr class="push-bottom">


              <div class="one-whole text-center lap-and-up-push-double-ends">
                <a href="{{pathFor 'blogIndex'}}" class="btn--filled">
                  Home
                </a>
              </div>
              {{> disqus this}}
            </div>

    </section>


  </article>

</template>


<template name="pinterest">
  <a href="#" data-share class="icon--filled icon--pinterest" style="margin: 0 auto;"></a>
</template>

<template name="facebook">
  <a href="#" data-share class="icon--filled icon--facebook" style="margin: 0 auto;"></a>
</template>

<template name="twitter">
  <a href="#" data-share class="icon--filled icon--twitter" style="margin: 0 auto;"></a>
</template>

<template name="disqus">
  {{#if useDisqus}}
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {{/if}}
</template>
