.icon--white {
  @extend %icon;

  display: inline-block;

  color: white;

  font-size: 24px;
  &:before {
    color: white;
  }

  &:hover {
    color: map-get($font-colors, custard);

    &:before {
      color: map-get($font-colors, custard);
    }
  }
}


.icon--large {
  &:before {
    font-size: 2em;
    line-height: 1.1;
  }
}


#iron-router-progress {
  background-color : map-get($colors, secondary);
  box-shadow       : 0 0 5px map-get($colors, secondary);
}


.transitioner {
  @include media-query(lap-and-up) {
    @include absolute(top 0 bottom 0 left 0 right 0);
  }

  position: inherit;
}
